# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Polya_kursovoj/Match_course_proj/.vs/Match_course_proj/v14/.suo
*.sdf
*.vcxproj
*.filters
*.opensdf
*.sln
*.ilk
*.pdb
*.enc
*.log
*.tlog
*.idb
Polya_kursovoj/Match_course_proj/Match/void
Polya_kursovoj/Match_course_proj/Match/data.txt
